.Box{
    display: block;
}
.Box__Popular{
    display: flex;
    width: 90%;
    margin: 0 0 1% 5%;
    .Box__image{
        width: 24%;
    }
    .Box{
        &__para{
        margin-left: 3%;
        width: 76%;
        }
        &--edit h1{
            margin: 0;
        }
    }
}