.Home{
    width: 100%;
    margin-top: 20px;


}


.Home{
    &__tab{
        display:flex;
        margin: auto;
        height: 100%;
    }
    &__Room2{
        width: 90%;
        height: 200px;
        margin: 0 5%;
        background-color: white;
    }
    &__tabmini{
        width: 20%;
        height:75%;
        // border: 1px solid #b1154a;
        background-color: white ;
        margin:30px 0 10px 5%;
        // color: orangered;
    }

}
