.navbar {
    width: 100%;
    display: flex;
    margin: auto;
    position: fixed;

    &__box1 {
        display: flex;
        width: 25%;
        margin: auto;

        svg {
            color: blue;
            width: 14%;
            font-size: 42px;
        }

    }

    &__box2 {
        display: flex;
        width: 52%;
        margin: auto;

        ul {
            padding: 0;
            display: flex;
            margin: auto;
            width: 100%;

            li {
                list-style-type: none;
                width: 17.5%;

                a {
                    color: black;
                    text-decoration: none;
                    font-size: 16px;

                    padding: 13px 58px;
                    border-radius: 6px;
                    margin-top: 3px;

                }
            }
        }

    }

    &__box3 {
        display: flex;
        width: 20%;
        margin: auto;

        &--user {
            display: flex;
            width: 40%;
            cursor: pointer;

            img {
                width: 21%;
                border-radius: 15px;
                margin: 14% 3% 0 22%;
            }
        }

        &--icon1 {
            width: 10%;
            margin: auto;
            cursor: pointer;

            svg {
                font-size: 20px;
            }
        }

        &--icon2 {
            width: 10%;
            margin: auto;
            cursor: pointer;

            svg {
                font-size: 20px;

            }
        }

        &--icon3 {
            width: 10%;
            margin: auto;
            cursor: pointer;

            svg {
                font-size: 20px;

            }
        }

        &--icon4 {
            width: 10%;
            margin: auto;
            cursor: pointer;

            svg {
                font-size: 20px;

            }

        }


    }
}


ul li a:hover,
ul li a.active {
    background: gainsboro;
}

ul li svg {
    margin: auto;
    font-size: 27px;
}

.searchInputs {
    margin-top: auto;
    display: flex;

    .ButtonIcon1 {
        width: 9%;
        font-size: 20px;
    }

    .ButtonIcon2 {
        font-size: 30px;
        width: 5%;
        margin: auto;
        cursor: pointer;

    }
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 18px;
    padding: 15px;
    height: 15px;
    width: 160px;
}

.seacrchIcon {
    height: 45px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    svg {
        width: 100%;
        height: 49%;
        color: gainsboro;
    }
}

input:focus {
    outline: none;
}

.Button__v {
    font-size: 27px;
    margin: 0 18px;
}

.dataResults {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;

    &::-webkit-scrollbar {
        display: none;
    }

    .dataItem {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        color: black;

        p {
            margin-left: 10px;
        }

    }

}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgray;
}

#clearBtn {
    cursor: pointer;
}

.SideBar {
    &__image {
        border-radius: 28px;
    }

}